#source common.sh
#
#
#print_head "Disable MySQL Default Module"
#dnf module disable mysql -y &>>${LOG}
#status_check
#
#print_head "Copy MySQL Repo file"
#cp ${script_location}/files/mysql.repo /etc/yum.repos.d/mysql.repo &>>${LOG}
#status_check
#
#print_head "Install MySQL Server"
#yum install mysql-community-server -y  &>>${LOG}
#status_check
#
#print_head "Enable MySQL"
#systemctl enable mysqld &>>${LOG}
#status_check
#
#print_head "Start MySQL"
#systemctl restart mysqld &>>${LOG}
#status_check
#
#print_head "Reset Default Database Password"
#mysql_secure_installation --set-root-pass ${root_mysql_password} &>>${LOG}
#if [ $? -eq 1 ]; then
#echo "Password is already changed"
#fi
#status_check

- name: Disable mySQL 8 version
  ansible.builtin.shell: dnf module disable mysql -y

- name: Install MySQL Server
  ansible.builtin.copy:
    src: mysql.repo
    dest: /etc/yum.repos.d/mysql.repo

- name: Install MySQL Server
  ansible.builtin.yum:
    name: mysql-community-server
    state: installed

- name: Start Mysql
  ansible.builtin.systemd:
    name: mysqld
    state: restarted
    enabled: yes

- name: Reset Default Database Password
  ansible.builtin.shell: mysql_secure_installation --set-root-pass {{root_mysql_password}}

