- name: Configuring NodeJS Repos
  ansible.builtin.shell: https://rpm.nodesource.com/setup_lts.x | bash

- name: install NodeJS
  ansible.builtin.yum:
    name: nodejs
    state: installed

- name: Add Applications user
  ansible.builtin.user:
    name: roboshop

- name: remove old app content
  ansible.builtin.file:
    path: /app
    state: absent

- name: Create app directory
  ansible.builtin.file:
    path: /app
    state: directory

- name: Download catalogue app content
  ansible.builtin.unarchive:
    src: https://roboshop-artifacts.s3.amazonaws.com/catalogue.zip
    dest: /app
    remote_src: yes

- name: Install nodejs dependencies
  community.general.npm:
    path: /app
    state: latest


- name: Copy systemD file
  ansible.builtin.copy:
    src: catalogue.service
    dest: /etc/systemd/system/catalogue.service

- name: start catalogue service
  ansible.builtin.systemd:
    name: catalogue
    daemon_reload: yes
    enabled: yes
    state: restarted

- name: Copy MongoDB Yum Repo file
  ansible.builtin.copy:
    src: mongodb.repo
    dest: /etc/yum.repos.d/mongodb.repo

- name: Install MongoDB Server
  ansible.builtin.yum:
    name: mongodb-org-shell
    state: installed

- name: Load schema
  community.mongodb.mongodb_shell:
    login_host: mongodb-dev.jahanjo.online
    file: "/app/schema/catalogue.js"
    idempotent: yes

