- name: Configuring NodeJS Repos
  ansible.builtin.shell: https://rpm.nodesource.com/setup_lts.x | bash

- name: App Pre-Req
  ansible.builtin.include_tasks: "app-prereq.yml"


- name: Install nodejs dependencies
  community.general.npm:
    path: /app
    state: latest

- name: SysteD setup
  ansible.builtin.include_tasks: "systemd.yml"

- name: Load schema
  ansible.builtin.include_tasks: "{{schema_type}}-schema.yml"
  when: schema_load



